/* src/componentes/Rodape/index.js */

.footer {
    background: #254190fc;
    color: #FFF;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/public/imagens/conceitos-iniciais-pokemon-removebg-preview.png");
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer section img {
    width: fit-content;
}

.footer ul li:last-child {
    margin-right: 0;
}