.botao {
    background-color: #254190fc;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.botao:hover {
    color: #95ffd4
}